@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
pre {
  padding: 10px;
  border-radius: 20px;
}

code.language-php {
  font-size: 14px !important;
  line-height: 1 !important;
}

.markdown-styles_markdown__h_8de a {
  text-decoration: underline;
}

.markdown-styles_markdown__h_8de img {
  margin-top: 8px;
}

.markdown-styles_markdown__h_8de ul {
  list-style: disc;
}
