@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
pre {
  padding: 10px;
  border-radius: 20px;
}

code.language-php {
  font-size: 14px !important;
  line-height: 1 !important;
}

.markdown-styles_markdown__h_8de h1 {
  font-weight: bold;
  font-size: 1.4rem;
}

.markdown-styles_markdown__h_8de p {
  margin-top: 0.5rem !important;
  margin-bottom: 2rem !important;
}

.markdown-styles_markdown__h_8de a {
  text-decoration: underline;
}

.markdown-styles_markdown__h_8de img {
  margin-top: 8px;
}

.markdown-styles_markdown__h_8de ul {
  margin-top: 0.5rem !important;
  list-style: disc;
}

.markdown-styles_markdown__h_8de #contenido-del-post {
  position: fixed;
  right: 0;
  top: 78px;
  font-size: 16px;
  font-weight: bold;
  padding-right: 40px;
}

.markdown-styles_markdown__h_8de #contenido-del-post + ul {
  position: fixed;
  right: 0;
  top: 80px;
  font-size: 14px;
  list-style-type: none !important;
  width: 185px;
  padding-right: 20px;
  margin-top: 1.5rem !important;
}

.markdown-styles_markdown__h_8de #contenido-del-post + ul ul {
  list-style-type: none !important;
  padding-left: 16px;
  margin: 0;
  list-style: disc !important;
  font-size: 10px;
}

.markdown-styles_markdown__h_8de #contenido-del-post + ul a {
  text-decoration: none !important;
}

@media only screen and (max-width: 1059px) {
  .markdown-styles_markdown__h_8de #contenido-del-post,
  .markdown-styles_markdown__h_8de #contenido-del-post + ul {
    display: none;
  }
}
