@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
pre {
  margin-top: -25px !important;
  margin-bottom: 25px !important;
  padding: 5px;
  border-radius: 10px;
}

code {
  font-size: 14px !important;
  line-height: 1 !important;
}

.markdown-styles_markdown__h_8de {
  font-size: 16px !important;
}

.markdown-styles_markdown__h_8de h1 {
  font-weight: bold;
  font-size: 1.4rem;
}

.markdown-styles_markdown__h_8de p {
  margin-top: 0.5rem !important;
  margin-bottom: 2rem !important;
  font-size: 16px;
}

.markdown-styles_markdown__h_8de a {
  text-decoration: underline;
}

.markdown-styles_markdown__h_8de img {
  margin-top: 8px;
}

.markdown-styles_markdown__h_8de ul {
  margin-top: 0.5rem !important;
  list-style-position: inside !important;
  list-style: disc;
}

.markdown-styles_markdown__h_8de ol {
  margin-top: 0.5rem !important;
  list-style: decimal;
  list-style-position: inside !important;
}

.markdown-styles_markdown__h_8de #contenido-del-post {
  position: fixed;
  right: 0;
  top: 78px;
  font-size: 14px;
  font-weight: bold;
  padding-right: 55px;
}

.markdown-styles_markdown__h_8de #contenido-del-post + ul {
  position: fixed;
  right: 0;
  top: 115px;
  font-size: 12px;
  list-style-type: none !important;
  width: 185px;
  padding-right: 20px;
  margin-top: 1rem !important;
  line-height: 1.2;
}

.markdown-styles_markdown__h_8de #contenido-del-post + ul > li {
  margin-top: 0.8rem !important;
}

.markdown-styles_markdown__h_8de #contenido-del-post + ul ul {
  list-style-type: none !important;
  padding-left: 14px;
  margin: 0;
  list-style: disc !important;
  margin-top: 0.2rem !important;
  font-size: 10px;
}

.markdown-styles_markdown__h_8de #contenido-del-post + ul ul > li {
  margin-top: 0.2rem !important;
}

.markdown-styles_markdown__h_8de #contenido-del-post + ul a {
  text-decoration: none !important;
}

@media only screen and (max-width: 1059px) {
  .markdown-styles_markdown__h_8de #contenido-del-post,
  .markdown-styles_markdown__h_8de #contenido-del-post + ul {
    display: none;
  }
}

blockquote {
  border-left: 4px solid #919191;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #525558;
  background: #fcfdff;
  border-radius: 3px;
}

.markdown-styles_markdown__h_8de blockquote p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
